<div class="wrapper border-bottom bg-white">
  <h3><%= link_to User.model_name.human(count: 2), users_path %></h3>
</div>

<div class="row">
  <div class="pack form-panel">
    <div class="pack-caption">
      <strong><%= link_to action_new(User), new_user_path %></strong>
    </div>

    <div class="pack-inside">
      <%= render 'form' %>
    </div>
  </div>
</div>
