<div class="row">
  <div class="col-sm-4">
    <% if object.first %>
      <b><%= t('action.per_page', model: object.model_name.human(count: 2)) %> &nbsp;</b>
      <%= select_tag :per_page, options_for_select([10,25,50], params[:per_page] ? params[:per_page].to_i : 25), :onchange => "if(this.value){window.location='?per_page='+this.value;}" %>
    <% end %>
  </div>

  <div class="col-sm-4">
    <div class="dataTables_info">
      <b><%= page_entries_info object %></b>
    </div>
  </div>

  <div class="col-sm-4">
    <div align='right'>
      <%= will_paginate object, renderer: BootstrapPagination::Rails, :inner_window => 1 %>
    </div>
  </div>
</div>
