#expand_advanced_search_button{
  cursor: pointer;
}

#transaction_advanced_search{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f1f1f1;
}

.in-color{
  color: blue;
}

.in-background{
  color: blue;
  background: #d8edf3;
}

.out-color{
  color: red;
}

.out-background{
  color: red;
  background: #f3d8d8;
}
