<div class="wrapper border-bottom bg-white">
  <h3><%= link_to Transaction.model_name.human(count: 2), user_transactions_path(@user) %></h3>
</div>

<div class="row">
  <div class="pack form-panel">
    <div class="pack-caption">
      <strong><%= link_to action_edit(Transaction), edit_transaction_path(@transaction) %></strong>
    </div>

    <div class="pack-inside">
      <%= render 'form' %>
    </div>
  </div>
</div>
