<footer class="site-footer">
  <div class="text-center">
    2016 - Simple Finance
    <a href="#top" class="go-top">
      <i class="fa fa-angle-up"></i>
    </a>
    &nbsp;&nbsp;&nbsp;
    <%= link_to image_tag('language/icon-pt-BR.png', size: "24x24"), locale: 'pt-BR', class: "img-responsive" %>
    <%= link_to image_tag('language/icon-en-usa.png', size: "21x21"), locale: 'en', class: "img-responsive" %>
  </div>
</footer>
