<aside>
  <div id="sidebar"  class="nav-collapse ">
    <ul class="sidebar-menu" id="nav-accordion">
      <p class="centered"><%= link_to image_tag('template/ui-sam.jpg', class: "img-circle", width: "60"), root_path %></p>
      <h5 class="centered">Marcel Newman</h5>
      
      <li class="mt">
        <a class="active" href="index.html">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
